:root {
    --color: rgb(169, 186, 204);
    --accent-color: rgba(255, 70, 74, 0.7);
    --background: linear-gradient(rgb(25, 27, 28) 0%, rgb(27, 29, 30) 100%);
    --footer-height: 20px;
    --primary-gradient-color: linear-gradient(
        0deg,
        rgba(221, 61, 64, 0.7) 0%,
        rgba(255, 70, 74, 0.7) 100%
    );
    --primary-box-shadow: rgba(164, 22, 26, 0.25) 0px 17px 23px 0px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

html,
body {
    color: var(--color);
    font-size: 16px;
    font-family: "Euclid Circular B", system-ui, sans-serif;
    position: relative;
    scroll-behavior: smooth;
}

@media (min-width: 520px) {
    html,
    body {
        font-size: 22px;
    }
}

h2 {
    font-size: 1.8rem;
}

.title {
    font-size: 3.4rem;
    user-select: none;
}

.subtitle,
.subtitle * {
    font-size: 1.6rem;
}

.accent-color,
.accent-color a,
.accent-color a:active {
    color: var(--accent-color);
}

.avatar-link {
    height: 100%;
    padding: 10px;
}

.avatar-link img {
    border-radius: 50%;
    width: 100%;
    max-width: 80px;
    aspect-ratio: 1/1;
}

@keyframes subir_descer {
    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

@keyframes descer_subir {
    0%,
    100% {
        transform: translateY(-20px);
    }

    50% {
        transform: translateY(0);
    }
}

.icon {
    --top: 100px;
    --middle: 245px;
    --bottom: 408px;
    --icon-size: 78px;
    --icon-m-size: calc(var(--icon-size) / 2);
    background: #fff1;
    border-radius: 20px;
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--icon-size);
    aspect-ratio: 1/1;
    position: absolute;
    z-index: 50;
}

.icon:nth-child(1) {
    /* typescript */
    margin-top: var(--top);
    left: 10%;
}

.icon:nth-child(2) {
    /* nodejs */
    left: calc(50% - var(--icon-m-size));
    margin-top: var(--top);
}

.icon:nth-child(3) {
    /* react */
    right: 10%;
    margin-top: var(--top);
}

.icon:nth-child(4) {
    /* git */
    margin-top: var(--middle);
    left: calc((100% / 3) - var(--icon-m-size));
}

.icon:nth-child(5) {
    /* docker */
    margin-top: var(--middle);
    right: calc((100% / 3) - var(--icon-m-size));
}

.icon:nth-child(6) {
    /* mysql */
    margin-top: var(--bottom);
    left: 10%;
}

.icon:nth-child(7) {
    /* .net */
    margin-top: var(--bottom);
    left: calc(50% - var(--icon-m-size));
}

.icon:nth-child(8) {
    /* c# */
    margin-top: var(--bottom);
    right: 10%;
}

.icon.alt {
    margin-top: calc(var(--top) + 42px);
    right: calc(10% + 35px);
    opacity: 80%;
}

.icon.outlined {
    margin-top: var(--bottom);
    left: 10%;
}

.icon img {
    width: 44px;
}

@media (min-width: 680px) {
    .icon {
        --icon-size: 100px;
    }
}

body {
    min-height: 100vh;
    background: var(--background);
    padding-bottom: var(--footer-height);
}

header {
    background: var(--primary-gradient-color);
    display: flex;
    align-items: center;
    padding: 0 1rem;
    flex-direction: column;
}

header img {
    height: 100%;
}

header nav {
    width: 80%;
    padding: 16px;
}

header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

header nav a {
    color: #fff;
    font-size: 0.6rem;
    font-family: "Poppins", system-ui, sans-serif;
    text-decoration: none;
    position: relative;
    text-transform: uppercase;
}

header nav a::before {
    content: "";
    position: absolute;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background: #fff;
    opacity: 0;
    transition: 0.2s ease opacity;
}

header nav a:hover::before {
    opacity: 1;
}

@media (min-width: 680px) {
    header {
        height: 80px;
        flex-direction: row;
    }

    header nav {
        padding: 0;
        margin-left: 40px;
    }

    header nav ul {
        flex-wrap: nowrap;
        justify-content: initial;
    }
}

main {
    padding-top: 1rem;
    padding-left: 2.4rem;
    background-color: rgba(22, 23, 27, 0.8);
    background-image: url(chaps.png);
    background-position: 0 0;
    background-size: 200px;
}

main > section {
    padding-bottom: 80px;
}

main > section > h2 {
    margin-bottom: 20px;
}

main > section:first-child {
    min-height: calc(100vh - 80px);
}

main > section:first-child h1 {
    display: flex;
    margin-top: 6vh;
}

main > section:nth-child(2) {
    padding-top: 60px;
}

@media (min-width: 680px) {
    main > section:nth-child(2) {
        padding-top: 0;
    }
}

#projects .content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    padding-right: 25px;
}

.project {
    display: flex;
    flex-direction: column;
    background-color: #0002;
    padding: 24px 20px 20px;
    gap: 15px;
    border-radius: 4px;
    border: 1px solid #ddd2;
}

.project img {
    width: 100%;
    max-width: 800px;
    min-width: 100px;
    border-radius: 4px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: var(--primary-gradient-color);
    padding: 6px;
}
